*{
    margin: 0px;
    padding: 0px;
    font-family: Oswald; 
    scroll-behavior: smooth;
}
#section{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 30px;
}
.list{
    padding: 50px 0px 0px 0px;
}
nav ul li{
    padding: 10px 20px;
    list-style: none;
    display: inline;
    margin: 50px 20px 0px 0px;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}
nav ul li a:hover{
    color: red;
    text-decoration: underline;
}
#home{
    margin: 10px 0px 0px 30px;
}
.home-contents{
    margin-top: 102px;
}
#Heading{
    font-family: Dancing Script;
    font-size: 50px;
    margin-bottom: 40px;
}
#IName{
    font-family: Dancing Script;
    color: orange;
}
.space{
    line-height: 10;
}
#download{
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding:10px 20px;
    border-radius: 5px;
}
.home-images{
    height: 75%;
    width: 45%;
    position: absolute;
    right: 50px;
    bottom: 0px;
}
.group{
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.home-images:hover #shape{
    bottom: 70px;
}
.home-images:hover #girl{
    left: 30%;
}
#about{
    margin: 17% 0px 0px 30px;
}
.section-head{
    text-align: center;
}
.main-head{
    font-size: 50px;
    font-family: Bona Nova SC;
}
.sub-head{
    font-size:30px; 
    color: rgb(58, 245, 34);
}
.about-body{
    margin: 60px 0px 0px 0px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}
.about-body img{
    width: 80%;
}
.about-content {
    text-align: left;
    font-size: 20px;
    margin-right: 20px;
}
.info{
    margin-left: 10px;
}
.element{
    margin-left: 10px;
}

.skill-contents{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15rem;
    margin-left: 40px;
    align-items: center;
}
.skill-image{
    align-items: end;
}
.bars{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    padding: 10px 0;
}
.bar-head,.bar-perc{
    font-weight: 500;
    font-size: 20px;
}
.base-bar{
    height: 7px;
    width: 100%;
    background-color: #000;
    position: absolute;
    bottom: 0;
}
.html-bar{
    background-color: chocolate;
    width: 89%;
}
.css-bar{
    background-color: chocolate;
    width: 59%;
}
.java-bar{
    background-color: chocolate;
    width: 80%;
}
.mongo-bar{
    background-color: chocolate;
    width: 90%;
}
.react-bar{
    background-color: chocolate;
    width: 75%;
}
.icon-container{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}
.anim{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.brand{
    color: black;
    font-size: 30px;
}
.anim:hover{
    background-image: linear-gradient(to bottom right, red, yellow);
    animation: rotate 5s;
}
@keyframes rotate {
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
    60%{
        transform: rotate(-30deg);
    }
    80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
.anim:hover .brand{
    color: #fff;
}
#copy{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
.up-arrow{
    float: right;
    margin: 0px 30px 30px 0px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: orange;
    border-radius: 10px;
}
